<!DOCTYPE html>
<!-- use thymeleaf if we want to include any URL in this file -->
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="menu">
	<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
		<input type="submit" />
	</form>
	<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
		<a class="navbar-brand" th:href="@{/}">
			<img th:src="@{/images/ShopmeAdminSmall.png}"/>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="topNavbar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/users}">Users</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/Categories}">Categories</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/brands}">Brands</a>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/products}">Products</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/Customers}">Customers</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/shipping}">Shipping</a>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/orders}">Orders</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/report}">Sales Report</a>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/articles}">Articles</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/menus}">Menus</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/users}">Users</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/settings}">Settings</a>
				</li>
				<li>
					<span class="fas fa-user fa-2x icon-silver"></span>
				</li>
				<li class="nav-item">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" 
						sec:authentication="principal.fullname"></a>
					<div class="dropdown-menu">
						<a class="dropdown-item" id="logOutLink" href="">Logout</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>
</div>
</body>
</html>