<!DOCTYPE html>
<!-- use thymeleaf if we want to include any URL in this file -->
<html xmlns:th="http://www.thymeleaf.org">

<!-- Use Head fragments with the help of thymeleaf fragments --->
<head th:replace="fragments :: page_head('Users - Shopme Admin')"/>
<body>
	<div class="container-fluid">
		<!-- Use Menu fragments with the help of thymeleaf fragments --->
		<div th:replace="navigation :: menu"></div>
		<div>
			<h2>Manage Users</h2>
			<a th:href="@{/users/new}">Create New User</a>
		</div>
		
		<div th:if="${message != null}" class="alert alert-success text-center">
			[[${message}]]
		</div>
		
		<div>
			<form th:action="@{/users/page/1}" class="form-inline m-3">
				<!-- Add sortField and sortDir variables here to 
				make filter compatible with pagination and sorting --->
				<input type="hidden" name="sortField" th:value="${sortField}">
				<input type="hidden" name="sortDir" th:value="${sortDir}">
				
				Filter:&nbsp;
				<!-- keywords to search for --->
				<input type="search" name="keyword" th:value="${keyword}" class="form-control" required/>
				&nbsp;&nbsp;
				<!-- submit the keywords to search --->
				<input type="submit" value="Search" class="btn btn-primary" />
				&nbsp;&nbsp;
				<!-- clear the keywords by reversing changes of 
					the current web page to the default web page ("/users") --->
				<input type="button" value="Clear" class="btn btn-secondary" onclick="clearFilter()" />
			</form>
		</div>
		
		<div>
			<table class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="thead-dark">
					<!-- For those headers with sorting features, use thymeleaf fragments to make it succinct --->
					<tr>
						<th th:replace="fragments :: column_link('id', 'User ID')" />
						
						<th>Photos</th>
						<th th:replace="fragments :: column_link('email', 'E-mail')" />
						<th th:replace="fragments :: column_link('firstName', 'First Name')" />
						<th th:replace="fragments :: column_link('lastName', 'Last Name')" />
						<th>Roles</th>
						<th th:replace="fragments :: column_link('enabled', 'Enabled')" />
						<th></th>
					</tr>								
				</thead>
				<tbody>
					<tr th:each="user : ${listUsers}">
						<td>[[${user.id}]]</td>
						<td>
							<span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-silver"></span>
							<img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}"
								style="width: 100px" />
						</td>
						<td>[[${user.email}]]</td>
						<td>[[${user.firstname}]]</td>
						<td>[[${user.lastname}]]</td>
						<td>[[${user.roles}]]</td>
						
						<td>
							<a th:if="${user.enabled == true}" class="fas fa-check-circle fa-2x icon-green" 
								th:href="@{'/users/' + ${user.id} + '/enabled/false'}"
								title="Disable this user"></a>
							<a th:if="${user.enabled == false}" class="fas fa-circle fa-2x icon-dark" 
								th:href="@{'/users/' + ${user.id} + '/enabled/true'}"
								title="Enable this user"></a>
						</td>
						<td> 
							<a class="fas fa-edit fa-2x icon-green" th:href="@{'/users/edit/' + ${user.id}}"
								title="Edit this user"></a>  
							&nbsp; 
							<a class="fas fa-trash fa-2x icon-dark link-delete" 
								th:href="@{'/users/delete/' + ${user.id}}"
								th:userId="${user.id}"
								title="Delete this user"></a>  
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<!-- Reminds the amounts of users that this page shows and how many users we have in total --->	
		<div class='text-center m-2' th:if="${totalItems > 0}">
			<span>Showing users # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
		</div>
		<div class='text-center m-2' th:unless="${totalItems > 0}">
			<span>No users found</span>
		</div>
		
		
		<!-- This is the pagination section, and it only shows up 
			when there are more than 1 page of users --->	
		<div th:if="${totalPages > 1}">
			<nav>
			  <!-- For those headers with sorting features, use thymeleaf fragments to make it succinct --->
			  <ul class="pagination justify-content-center">	
			  	<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
			    	<a th:replace="fragments :: pagination_button(1, First)"></a>
			    </li>
			    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
			    	<a th:replace="fragments :: pagination_button(${currentPage} - 1, Previous)"></a>
			    </li>  
			    
			    <li th:class="${currentPage != i ? 'page-item': 'page-item active'}" 
			    	th:each="i : ${#numbers.sequence(1, totalPages)}">
			    	<a th:replace="fragments :: pagination_button(${i}, ${i})"></a>
			    </li>
			    
			    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
			    	<a th:replace="fragments :: pagination_button(${currentPage} + 1, Next)"></a>
			    </li>
			    
			    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
			    	<a th:replace="fragments :: pagination_button(${totalPages}, Last)"></a>
			    </li>		    
			  </ul>
			</nav>
		</div>
		
		
		<!-- Create a Modal dialog to present the email checking response from the server --->	
		<div class="modal fade text-center" id="confirmModal">
			<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="modalTitle">Delete Confirmation</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
					
						<div class="modal-body">
							<span id="confirmText"></span>
						</div>
					
						<div class="modal-footer">
							<a class="btn btn-success" href="" id="yesButton">Yes</a>
							<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
						</div>
					</div>
				</div>
		</div>
		<!-- Use Footer fragments with the help of thymeleaf fragments --->
		<div th:replace="fragments :: footer"></div>
	</div>
	<script type="text/javascript">	
		$(document).ready(function() {
			$(".link-delete").on("click", function(e) {
				e.preventDefault();
				link = $(this);
				userId = link.attr("userId");		// Get the value from the th:userId that defined in delete section
				$("#yesButton").attr("href", link.attr("href"));
				$("#confirmText").text("Are you sure you want to delete this user ID " + userId + "?");
				$("#confirmModal").modal();
			});
		});
		
		// Reverse changes of the current webpage to the default webpage, which is "/users"
		function clearFilter() {
			window.location = "[[@{/users}]]";
		}
	</script>
</body>
</html>